.cursor
/cart-service
/order-service
/user-service
/notification-service


# Signoz deployment directory
.signoz

# Local environment configuration (DO NOT COMMIT)
.env

# Anomalous src file if generated
product-service/src/src

# Locust logs and results 
locust-simulations/locust.log
locust-simulations/results/custom_stats_*.csv
locust-simulations/results/response_times_*.csv
locust-simulations/venv/
locust-simulations/results/







