.cursor
/cart-service
/order-service
/user-service
/notification-service

# Go module sum file (generally recommended to commit)
# go.sum

# Signoz deployment directory
.signoz

# Local environment configuration (DO NOT COMMIT)
.env

# Anomalous src file if generated
product-service/src/src

# Go Build Artifacts
product-service/product-service
bin/

#plans
*.sum




